<ion-header no-shadow no-border>
  <ion-toolbar class="light-toolbar">
      <button  detail-none (click)="dismiss()" class="back-button show-back-button">  <ion-icon name="ios-arrow-back"></ion-icon></button>
      <ion-title>
        Idioma
      </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

    <ion-list radio-group (ionChange)="toggleLanguage($event)">
        <ion-item *ngFor = "let item of languages , let i = index">
          <ion-label>{{item.name}}</ion-label>
          <ion-radio value="{{item.value}}" checked="{{item.isChecked}}"></ion-radio>
        </ion-item>
    </ion-list>



</ion-content>