page-language {
  ion-row {
    align-items: center;
    text-align: center;
  }
  .toolbar-title{
    color: #666666 !important;
  }
  .toolbar{
    padding: 20px 4px;
    padding-top: 40px;
    &.light-toolbar{
      background-color: transparent !important;
      color: #666666;
      .toolbar-background{
        background: transparent !important;
      }
    }
    
  .back-button.show-back-button{
    position: absolute;
    color: #fff;
    z-index: 9999;
    left: 10px;
    bottom: 16px;
    background-color: transparent !important;
    ion-icon{
      font-size: 1.6em;
      width: 1.6em;
      text-align: center;
      line-height: 1.6em;
      background: #488aff;
      color: #fff;
      border-radius: 0.8em; /* or 50% width & line-height */
    }
   }
  }

  .list > .item:first-child{
    .item-inner{
     border-top: 1px solid #dedede;
    }
  }
  .list > .item:last-child{
   .item-inner{
    border-bottom: 1px solid #dedede;
   }
 }
  
}
