<ion-tabs name="myTabsNav">
  <ion-tab [root]="tab1Root" [tabTitle]=" 'TAB1_TITLE' | translate " tabIcon="map"></ion-tab>
  <ion-tab [root]="tab2Root" [tabTitle]=" 'TAB2_TITLE' | translate " tabIcon="mail"></ion-tab>
  <ion-tab [root]="tab3Root" [tabTitle]=" 'TAB3_TITLE' | translate " tabIcon="contact"></ion-tab>
</ion-tabs>