<!--
  Generated template for the AccomodationcardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ 'ACCOMODATION_CARD_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="img-header">
    <img src="{{tripEvent.imageUrl}}" onError="this.src='assets/img/default-image-bk.png'">
    <div class="img-desc">
      {{tripEvent.name}}
    </div>
  </div>

  <div class="trip-item small">
    <span class="left"><i class="fa fa-map-o" aria-hidden="true"></i> {{ 'GUIDE_ME_LABEL' | translate }} </span>
    <span class="right">
      <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
    </span>
  </div>

  <div class="trip-item">
    <span>{{ 'ACCOMODATION_TYPE_LABEL' | translate }}: </span> {{tripEvent.accommodationType}}
  </div>

  <div class="trip-item">
      <span>{{ 'DESCRIPTION_LABEL' | translate }}: </span> 
      <span *ngIf="tripEvent.description != null && tripEvent.description != undefined && tripEvent.description != ''">{{tripEvent.description}}</span>
      <span *ngIf="tripEvent.description == null || tripEvent.description == undefined || tripEvent.description == ''">-</span>
  </div>

  <div class="trip-item">
    <span>{{ 'ADDRESS_LABEL' | translate }}:</span>
    <span *ngIf="tripEvent.address != null && tripEvent.address != undefined && tripEvent.address != ''">{{tripEvent.address}}</span>
    <span *ngIf="tripEvent.address == null || tripEvent.address == undefined || tripEvent.address == ''">-</span>
  </div>

  <div class="trip-item">
    <span>{{ 'ARRIVAL_TIME_LABEL' | translate }}:</span>
    <span *ngIf="tripEvent.startTime != null && tripEvent.startTime != undefined && tripEvent.startTime != ''">{{tripEvent.startTime}}</span>
    <span *ngIf="tripEvent.startTime == null || tripEvent.startTime == undefined || tripEvent.startTime == ''">-</span>
  </div>

  <div class="trip-item">
    <span>{{ 'ESTIMATED_COSTS_LABEL' | translate }}:</span>
    <span *ngIf="tripEvent.totalPrice != null && tripEvent.totalPrice != undefined && tripEvent.totalPrice != ''">{{tripEvent.totalPrice.toFixed(2)}} {{tripEvent.totalPriceCurrencyCode}}</span>
    <span *ngIf="tripEvent.totalPrice == null || tripEvent.totalPrice == undefined || tripEvent.totalPrice == ''">Não informado</span>
  </div>

  <div class="trip-item">
    <span>{{ 'TIPS_LABEL' | translate }}: </span>
    <span *ngIf="tripEvent.tips != null && tripEvent.tips != undefined && tripEvent.tips != ''">{{tripEvent.tips}}</span>
    <span *ngIf="tripEvent.tips == null || tripEvent.tips == undefined || tripEvent.tips == ''">-</span>
  </div>

</ion-content>
