page-daysummary {
  ion-row {
    align-items: center;
    text-align: center;
  }
  .toolbar-title{
    color: #666666 !important;
  }
  .toolbar{
    padding: 20px 4px;
    padding-top: 40px;
    &.light-toolbar{
      background-color: transparent !important;
      color: #666666;
      .toolbar-background{
        background: transparent !important;
      }
    }
    
  .back-button.show-back-button{
    position: absolute;
    color: #fff;
    z-index: 9999;
    left: 10px;
    bottom: 16px;
    background-color: transparent !important;
    ion-icon{
      font-size: 1.6em;
      width: 1.6em;
      text-align: center;
      line-height: 1.6em;
      background: #488aff;
      color: #fff;
      border-radius: 0.8em; /* or 50% width & line-height */
    }
   }
  }

  .list{
    margin: 0 auto;
    max-width: 350px;
  }
  .text-input{
    color: #fff;
  }

  ion-content{
    background: linear-gradient(to top right, #fff, #fff, #fff ) !important;
    background-color: transparent !important;
  }

  ion-label{
    color: #fff;
  }
  ion-item {
      border-radius: 0px !important;
      padding-left: 0 !important;
      margin-bottom: 10px !important;
      opacity: 1;
      background: transparent !important;
      color: #A2A2A2 !important;
      font-size: 0.7em;
        ion-label{
          padding-left: 10px;
        }
        .item-inner{
          border-bottom-color: #222 !important;
          box-shadow: none !important;
          &:last-child{
            box-shadow: none !important;
          }
        }
  }

  .button-gradient{
    background: linear-gradient(to right, #2e6ba8, #175B9F);
    border-radius: 5px;
    padding: 24px 0;
  }

  .register-call{
    color: #fff;
  }

  .img-logo {
    margin: auto;
    background: url('../assets/icon/icas_logo.png') no-repeat transparent;
    background-size: 100%;
    width: 120px;
    height: 120px;
    margin: 20px auto;
    position: relative;
  }

  .light{
    color: map-get($map: $colors, $key: light);
  }

  .day-summary{
    text-align: center;
    font-size: 20px;
    color: #666666;
    padding: 20px;
    .summary-header{
      margin-bottom: 30px;
      div{
        margin: 10px 0;
      }
    }
    .summary-expenses{
      font-size: 16px;
      position: relative;
      div{
        font-weight: 600;
        color:#222;
        margin-bottom: 10px;
      }
      canvas{
        margin-top: 20px;
        text-align: center;
      }
    }

  }

}
