<ion-header no-shadow no-border>
    <ion-toolbar class="light-toolbar">
        <button  detail-none (click)="dismiss()" class="back-button show-back-button">  <ion-icon name="ios-arrow-back"></ion-icon></button>
        <ion-title>
            {{ 'DAY_SUMMARY_TITLE' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>
  <div class="day-summary">
    <div class="summary-header">
      <div>{{ 'TRIP_DAY_LABEL' | translate }} {{dayIndex + 1}} - {{dayNumber}}</div>
    </div>
    <div class="summary-expenses">
        <div>{{ 'EXPENSES_LABEL' | translate }}</div>
        <span>Total: {{dayDetails.totalCost.toFixed(2)}} {{dayDetails.totalPriceCurrencyCode}}</span>
        <div style="position: relative; margin: 0 auto; text-align: center; width:300px; height:300px;">
            <canvas *ngIf="dayDetails.totalCost > 0" #doughnutCanvas></canvas>
        </div>
    </div>
  </div>
</ion-content>
