page-messagedetails {
  background: #efe7dd;
  .content, .content-md{
    background: transparent !important;
    background-color: transparent !important;
  }
  .content-description{
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  .card , .card-md{
    background: transparent !important;
  }
  .master-list{
    background: transparent;
  }
  ion-card{
    margin: 0 !important;
    width: 100% !important;
    padding: 0;
    p{
      margin: 5px 0 !important;
    }
    box-shadow: none !important;
  }
  .msg{
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    position: relative;
  }
  .expert-msg:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -15px;
    right: auto;
    top: 0px;
    bottom: auto;
    border: 15px solid;
    border-color: #488aff transparent transparent transparent;
  }
  .expert-msg{
    float: left;
    background: #488aff;
    color: #fff;
  }
  .regular-msg{
    float: right;
    background: #f4f4f4;
    color: #666666;
  }
  .regular-msg:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: -15px;
    left: auto;
    top: 0px;
    bottom: auto;
    border: 15px solid;
    border-color: #f4f4f4 transparent transparent transparent;
  }
  .item-timestamp{
    display: block;
    position: absolute;
    right: 0;
    bottom: -20px;
    font-size: 12px;
    color: #666666;
    &.timestamp-expert{
      left: 0;
    }
  }
  .change-request{
    display: inline-block;
    span{
      background-color: #d9534f;
      font-weight: 700;
      color: #fff;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      padding: 2px 5px;
      margin-right: 5px;
    }
  }
  .content-img{
    max-width: 40px;
    float: left;
    img{
      border-radius: 100%;
    }
    margin-right: 10px;
  }
  .toolbar-title, .toolbar-title-md{
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 0;
  }

  .toolbar-footer{
    padding-top: 0 !important;
  }

  .message-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    height: 50px;
    width: 100%;
    background: #fff;
    z-index: 2;
    div, input{
      height: 100%;
      background: #fff;
    }
    .message-box{
      padding: 5px 10px;
      border: 0;
      flex: 1 1 auto;
      font-size: 16px;
      margin: 0;
      outline: none;
      min-width: 50px;
    }
    .photo{
      flex: 0 0 auto;
      border-radius: 0 0 5px 0;
      text-align: center;
      position: relative;
      width: 48px;
      &:after{
        border-width: 0px 0 10px 10px;
        border-color: transparent transparent transparent #fff;
        border-style: solid;
        position: absolute;
        width: 0;
        height: 0;
        content: "";
        top: 0;
        right: -10px;
      }
      i{
        display: block;
        color: #7d8488;
        font-size: 24px;
        transform: translate(-50%, -50%);
        position: relative;
        top: 50%;
        left: 50%;
      }
    }
    .send{
      background: transparent;
      border: 0;
      cursor: pointer;
      flex: 0 0 auto;
      margin-left: 8px;
      margin-right: 8px;
      padding: 0;
      position: relative;
      outline: none;
    }
    .send .circle {
      background: #488aff;
      border-radius: 50%;
      color: #fff;
      position: relative;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .send div i {
      font-size: 32px;
      margin-left: 5px;
      color: #488aff;
    }
  }

}
