<!--
  Generated template for the MessagedetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>
      <div class="content-img">
          <!-- <img src="{{conversation.imageUrl}}"> -->
      </div>
      {{conversation.title}}
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content #content no-padding>
  <ion-list class="master-list">
    <ion-card *ngFor = "let item of conversation.messages; let last = last">
      <ion-card-content>
          <div class="content-description">
            <div *ngIf="item.personKind == 'RegularUser'" class="regular-msg msg">
              <div *ngIf="item.isChangeRequestMessage == true" class="change-request">
                  <span>change request</span>
              </div>
              {{item.text}}
            </div>
            <div *ngIf="item.personKind == 'ExpertUser'" class="expert-msg msg">
              <div *ngIf="item.isChangeRequestMessage == true" class="change-request">
                  <span>change request</span>
              </div>
              {{item.text}}
            </div>
            <div class="item-timestamp" [class.timestamp-regular]="item.personKind == 'RegularUser'" [class.timestamp-expert]="item.personKind == 'ExpertUser'">
                {{item.timestamp}}
            </div>
          </div>
      </ion-card-content>
      {{last ? callFunction() : ''}}
    </ion-card>            
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar class="toolbar-footer">
    <div class="message-bar">
        <input class="message-box" [(ngModel)]="messageField" name="input" placeholder="Digite aqui..." autocomplete="off" autofocus>
        <button class="send" (click)="sendMsg()">
          <div class="">
            <i class="zmdi zmdi-mail-send"></i>
          </div>
        </button>
    </div>

  </ion-toolbar>
</ion-footer>
