page-trips {
  .content-description{
    position: relative;
    width: 100%;
    h2{
      font-weight: 600;
      font-size: 1.8rem;
    }
    .content-description-details{
      .trip-payment, .trip-review{font-size: 12px;}
      max-width: 350px;
    }
  }
  ion-card{
    padding: 10px 0;
    p{
      margin: 5px 0 !important;
    }
  }
  .notice{
    color: #666666;
    height: 100%;
  }
  .master-list{
    height: 100%;
  }
  .content-img{
    max-width: 60px;
    position: absolute;
    right: 20px;
    bottom: 22%;
    img{
      border-radius: 100%;
    }
  }
  .trip-processing{
    background: #5fba7d;
    color: #fff;
    display: inline-block;
    padding: 0 5px;
  }
  .trip-review{
    background: #5fba7d;
    color: #fff;
    display: inline-block;
    padding: 0 5px;
  }
  .trip-requested{
    background: #4db6ac;
    color: #fff;
    display: inline-block;
    padding: 0 5px;
  }
  .trip-payment{
    background: #F48024;
    color: #fff;
    display: inline-block;
    padding: 0 5px;
  }
}
