<!--
  Generated template for the TripsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ 'TRIPS_PAGE_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  
    <ion-list class="master-list">
        <ion-row *ngIf="allTrips == null && loaded == true" class="notice" class="notice" justify-content-center align-items-center style='height: 100%'>
          <h3>{{ 'EMPTY_TRIPS_PART_1' | translate }} <br/> <br/>
            {{ 'EMPTY_TRIPS_PART_2' | translate }}
          </h3>
        </ion-row>
        <ion-card (click)="openDetail(item)" *ngFor = "let item of allTrips">
          <ion-card-content>
              <div class="content-description">
                  <h2>{{item.title}}</h2>
                  <p>Status:</p>
                  <div class="content-description-details">
                    <span *ngIf="item.status == 'TRIP_REVIEW'">
                      <div class="trip-review">
                          {{ 'TRIP_STATUS_REVIEW' | translate }}
                      </div>
                    </span>
                    <span *ngIf="item.status == 'TRIP_PROCESSING'">
                      <div class="trip-processing">
                          {{ 'TRIP_STATUS_PROCESSING' | translate }}
                      </div>
                    </span>
                    <span *ngIf="item.status == 'TRIP_VALIDATED'">
                        <div class="trip-processing">
                            {{ 'TRIP_STATUS_VALIDATED' | translate }}
                        </div>
                      </span>
                    <span *ngIf="item.status == 'TRIP_REQUEST'">
                        <div class="trip-requested">
                            {{ 'TRIP_STATUS_REQUESTED' | translate }}
                        </div>
                    </span>
                    <span *ngIf="item.status == 'TRIP_CANCELLED'">
                        <div class="trip-requested">
                            {{ 'TRIP_STATUS_CANCELLED' | translate }}
                        </div>
                    </span>
                    <span *ngIf="item.status == 'TRIP_REJECTED'">
                        <div class="trip-requested">
                            {{ 'TRIP_STATUS_REJECTED' | translate }}
                        </div>
                    </span>
                    <span *ngIf="item.status == 'WAITING_PAYMENT'">
                        <div class="trip-payment">
                            {{ 'TRIP_STATUS_PAYMENT' | translate }}
                        </div>
                    </span>
                    {{item.destinations}}
                    <p>Expert:</p>
                    {{item.expertUser.firstname}} {{item.expertUser.lastname}}
                  </div>
                  <div class="content-img">
                    <img *ngIf="item.expertUser.imageUrl" src="{{item.expertUser.imageUrl}}">
                    <img *ngIf="!item.expertUser.imageUrl" src="assets/img/default-user-bk.png">
                  </div>
              </div>
          </ion-card-content>
        </ion-card>
      </ion-list>
</ion-content>
