<!--
  Generated template for the DirectioncardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ 'DIRECTION_CARD_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div #map id="map"></div>

  <div class="trip-item small">
    <span class="left"><i class="fa fa-map-o" aria-hidden="true"></i> {{ 'GUIDE_ME_LABEL' | translate }} </span>
    <span class="right">
      <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
    </span>
  </div>

  <div class="trip-item">
    <span>{{ 'FROM_LABEL' | translate }}: </span> {{tripEvent.origin.address}}
  </div>

  <div class="trip-item">
    <span>{{ 'TO_LABEL' | translate }}: </span> {{tripEvent.destination.address}}
  </div>

  <div class="trip-item">
    <span>{{ 'SUGGESTED_TRANSPORTATION_LABEL' | translate }}: </span> {{tripEvent.meansOfTransportation}}
  </div>

  <div class="trip-item">
    <span>{{ 'SUGGESTED_DEPARTURE_LABEL' | translate }}: </span> {{tripEvent.startTime}}
  </div>

  <div class="trip-item">
    <span>{{ 'DURATION_LABEL' | translate }}:</span>
    <span *ngIf="tripEvent.duration != null && tripEvent.duration != undefined && tripEvent.duration != ''">{{tripEvent.duration}}</span>
    <span *ngIf="tripEvent.duration == null || tripEvent.duration == undefined || tripEvent.duration == ''">-</span>
  </div>

  <div class="trip-item">
    <span>{{ 'ESTIMATED_COSTS_LABEL' | translate }}: </span> 
    <span *ngIf="tripEvent.totalPrice != null && tripEvent.totalPrice != undefined && tripEvent.totalPrice != ''">{{tripEvent.totalPrice.toFixed(2)}} {{tripEvent.totalPriceCurrencyCode}}</span>
    <span *ngIf="tripEvent.totalPrice == null || tripEvent.totalPrice == undefined || tripEvent.totalPrice == ''">{{ 'NOT_INFORMED_LABEL' | translate }}</span>
  </div>

</ion-content>
