page-directioncard {
  #map {
    width: 100%;
    height: 250px;
  }

  .trip-event{
    padding: 10px 20px;
    span{
      font-weight: 600;
      display: inline-block;
    }
  }
  .trip-item{
    padding: 12px 20px;
    border-bottom: 1px solid #f2f2f2;
    font-size: 16px;
    &.small{
      padding: 5px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left{
        float: left;
      }
      .right{
        float: right;
      }
    }
    i {
      margin-right: 5px;
    }
    span{
      font-weight: 600;
      display: inline-block;
      margin-bottom: 2px;
    }
  }
}
