page-master {
  .master-list{
    //overflow: auto;
    margin: 5pt;
    position: relative;
  }

  .img-style{
    height: auto;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

}
