<ion-header>

    <ion-navbar color="primary">
      <ion-title color="light">{{ 'MASTER_TITLE' | translate }}</ion-title>

    </ion-navbar>

  </ion-header>

  <ion-content>

    <ion-list class="master-list" style="text-align:center">
      <ion-card (click)="openTrips()">
        <ion-card-content>
            <img src="assets/img/trip-plan.png" class="img-style" alt="" >
              <h1><b>{{ 'MASTER_TRIP_PLAN' | translate }}</b></h1>
        </ion-card-content>
      </ion-card>

      <ion-card (click)="openMessages()" style="text-align:center">
        <ion-card-content class="card-style">
              <img src="assets/img/msg.png" class="img-style" alt="" >
                <h1><b>  {{ 'MASTER_MESSAGE' | translate }} </b></h1>
        </ion-card-content>

      </ion-card>

    </ion-list>
  </ion-content>
