// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.img-logo{
  margin: 30px auto;
  margin-bottom: 0 !important;
}
ion-row {
  align-items: center;
  text-align: center;
}

ion-img{
  background: transparent;
}


.search-box, .close-icon, .search-wrapper {
  position: relative;
  padding: 10px;
}

.search-wrapper {
  width: 80%;//500px;
  //margin: auto;
  /*margin-top: 50px;*/
}

.search-box {
  width: 80%;
  border: 1px solid #ccc;
  outline: 0;
  border-radius: 15px;
}
.toolbar-title-ios{
  font-size: 2rem;
}
.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
  border-bottom: 0px solid !important;
}
.search-box:focus {
  box-shadow: 0 0 15px 5px #b0e0ee;
  border: 2px solid #bebede;
}

.close-icon {
  border: 1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
}

.close-icon:after {
  content: "X";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #FA9595;
  z-index: 1;
  right: 35px;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 12px;
  box-shadow: 0 0 2px #E50F0F;
  cursor: pointer;
}

.search-box:not(:valid) ~ .close-icon {
  display: none;
}



.segment .segment-button.segment-activated{
  color: map-get($colors, light); 
  background-color: map-get($colors, primary);  
}

.centered{  
  text-align: center;
}

.label p, .label h2{
  white-space: normal;
}

// card style
.card {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  &.no-margin{
    width: 100%;
    margin: 0 !important;
  }
  &.card-menu{
    background-color: transparent;
    color: #fff;
    .item{
      background-color: transparent;
      color: #222;
    }
  }
}

.message-nosympsia{
  text-align: center;
}

.list-areas{
  .card{
    &:last-child{
      a{
        box-shadow: none;
      }
    }
    a{
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }
  }
  .label{
    padding: 2px 0 !important;
    margin: 13px 0 !important;
  }
  .item{
    padding-left: 0 !important;
    padding-right: 0 !important;
    border: none !important;
    .item-inner{
      padding-right: 0 !important;
    }
    &:last-child{
      border-bottom: none !important;
    }
  }
  .text-center{
    text-align: center;
  }
}

.card-menu{

}


.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.badge{
  font-size: 12px;
  border-radius: 0px;
  color: #fff;
  padding: 2px;
  &.danger{
    background: map-get($colors,danger);
  }
  &.attention{
    background: map-get($colors,attention);
  }
}

// list style
.list-no-border {
  
    .item:first-child {
      border: none;
    }
    .item:last-child {
      border: none;
    }
  
    .item-inner {
      border: none;
    }
  }
  
  .list-full-border {
    @extend .list-no-border;
  
    .item,
    .item:first-child,
    .item:last-child {
      border-bottom: 1px solid color($colors, border-color);
  
      .item-inner {
        border: none;
      }
    }
  }
  
  .list-ios[no-margin],
  .list-md[no-margin],
  .list-wp[no-margin] {
    margin: 0;
  }
  
  .list-ios[margin],
  .list-md[margin],
  .list-wp[margin] {
    margin: 16px;
  }

.gray-bg {
  background-color: color($colors, gray);
}

.primary{
  background-color: color($colors, dark);
}

.plenary_speaker_time{
  background: #f2f2f2;
  color: #0066cc;
  padding: 5px 15px;
  margin-bottom: 10px;
}

.plenary_speaker_item{
  color: #222;
  cursor: pointer;
  .text-title{
    font-weight:700;
    font-size: 16px;
  }
  p{
    margin-top: 5px;
  }
  .text-light{
    color: #4c4c4c;
  }
  .text-lighter{
    color: #7f7f7f;
  }
}
.modal-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.list-ios{
  margin: 0px 0 32px;
}
ion-img{
  background: transparent;
}
.toolbar-ios ion-title{
  display: flex;
  position: relative;
}
.toolbar{
  padding: 20px 4px;
  padding-top: 40px;
  &.colored{
    background-color: transparent !important;
    color: #fff;
    .toolbar-background{
      background: #1976D2 !important;
    }
  }

}
.toolbar-ios{
  min-height: 56px;
}

.toolbar-title-ios{
  font-size: 2rem;
  font-weight: 500;
}

.back-button-icon-ios{
  font-size: 2.4rem;
}


.toolbar-title{
  color: #fff !important;
  text-align: center;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default, .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default{
  position: absolute;
  color: #fff;
  z-index: 9999;

}

.menu-toolbar{
  text-align: left;
  padding-left: 16px;
  .logo-menu{
    display: flex;
    align-items: center;
    img{
      max-width: 80px;
    }
    .organizator-text{
      margin-left: 30px;
      font-size: 12px;
      color: #f2f2f2;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  img{
    max-width: 80px;
  }
  span{
    display: block;
    margin-top: 10px;
    color: #f2f2f2;
  }
}

/*custom is class added to ion-content*/
 
.custom {
  background-color: #fff !important; /* This sets the background color*/
 }
 
/*Set the background to transparent for ion-item*/
.custom .item {
  background-color: transparent;
  border:none;   /*Removes all borders*/
  color: #404040;    /*Text color for each item*/
  margin: 10px 0;
}

 
.custom .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}
 
/*Just makes the type white*/
.custom h2,
.custom h3,
.custom p,
.custom a {
  color: white;  /*Text color for each item, overrides the color property above*/
}

.custom{
  i{
    font-size: 19px;
    margin-right: 30px !important;
    margin-left: 19px !important;
    color: #a2a2a2;
  }
  ion-label{
    margin: 0 !important;
  }
  .scroll-content{
    margin-top: 140px !important;
  }
}
.menu-item-header{
  color: #0D47A1  !important;
  padding: 0 16px;
  font-size: 14px;
  font-weight: 500;
}

.tab-agenda{
  border-bottom: 2px solid #888888;
  margin-bottom:2px;
  a{
    
    background-color: #f2f2f2;
    color: #0066cc;
    padding: 5px 0;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    &.active{
      background: #0066cc;
      color: #fff;
    }
  }

}

.ios ion-nav > .ion-page > .toolbar.statusbar-padding:first-child ion-segment, .ios ion-nav > .ion-page > .toolbar.statusbar-padding:first-child ion-title, .ios ion-nav > .ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-segment, .ios ion-nav > .ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-title, .ios ion-tab > .ion-page > .toolbar.statusbar-padding:first-child ion-segment, .ios ion-tab > .ion-page > .toolbar.statusbar-padding:first-child ion-title, .ios ion-tab > .ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-segment, .ios ion-tab > .ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-title, .ios ion-tabs > .ion-page.tab-subpage > ion-header > .toolbar.statusbar-padding:first-child ion-segment, .ios ion-tabs > .ion-page.tab-subpage > ion-header > .toolbar.statusbar-padding:first-child ion-title, .ios ion-menu > .menu-inner > .toolbar.statusbar-padding:first-child ion-segment, .ios ion-menu > .menu-inner > .toolbar.statusbar-padding:first-child ion-title, .ios ion-menu > .menu-inner > ion-header > .toolbar.statusbar-padding:first-child ion-segment, .ios ion-menu > .menu-inner > ion-header > .toolbar.statusbar-padding:first-child ion-title{
  padding-top: 0 !important;
}

.ios ion-menu > .menu-inner > ion-header > .toolbar.statusbar-padding:first-child{
  padding: 20px;
  padding-top: 40px;
}
@media only screen and (max-width: 767px){
  .ios .modal-wrapper > .ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-segment, .ios .modal-wrapper > .ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-title{
    padding-top: 0 !important;
    padding: 0 !important;
  }
}