page-messages {
  .content-description{
    width: auto;
    margin-left: 70px;
    position: relative;
    .user-name{
      font-weight: 600;
      font-size: 1.6rem;
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
  }
  ion-card{
    margin: 0 !important;
    width: 100% !important;
    padding: 0;
    p{
      margin: 5px 0 !important;
    }
    box-shadow: none !important;
  }
  .notice{
    color: #666666;
    height: 100%;
  }
  .master-list{
    height: 100%;
  }
  .timestamp{
    position: absolute;
    right: 0;
    font-size: 1.2rem;
  }
  .last-message{
    margin-top: 8px !important;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow:ellipsis; 
    width:200px; 
  }
  .content-img{
    max-width: 60px;
    float: left;
    img{
      border-radius: 100%;
    }
  }
}
