<!--
  Generated template for the MessagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ 'MESSAGES_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-list class="master-list">
    <ion-row *ngIf="conversations.length == 0 && loaded == true" class="notice" class="notice" justify-content-center align-items-center style='height: 100%'>
        <h3>{{ 'EMPTY_MESSAGES' | translate }} <br/> <br/>
        </h3>
    </ion-row>
    <ion-card *ngFor = "let item of conversations" (click)="openMessages(item)">
      <ion-card-content>
          <div class="content-img">
            <img *ngIf="item.imageUrl" src="{{item.imageUrl}}">
            <img *ngIf="!item.imageUrl" src="assets/img/default-user-bk.png">
          </div>
          <div class="content-description">
            <p class="user-name">{{item.title}}</p>
            <span class="timestamp">{{item.lastMessage.timestamp}}</span>
            <p class="last-message">{{item.lastMessage.text}}</p>
          </div>
      </ion-card-content>
    </ion-card>            
  </ion-list>
</ion-content>