page-welcome {
  ion-content{
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.45)
    ),
    url('../assets/img/louvre.jpg') no-repeat transparent;
    background-size: cover;
    background-position: center;
  }
 
  .welcome-container{
    display: flex;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px;
    ion-list{
      width: 100%;
      margin-top: 150px;
      max-width: 550px;
    }
  }
  .welcome-logo {
    margin: auto;
    background: url('../assets/img/logo.png') no-repeat transparent;
    background-size: 100%;
    width: 280px;
    height: 100px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 80px;
  }


  .text-input{
    color: #fff;
  }

  .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child{
    box-shadow: none !important;
  }

  .item-input.input-has-focus:last-child{
    box-shadow: none !important;
  }

  .list-md .item-input:last-child{
    border-bottom: none !important;
  }

  ion-item {
    border-radius: 0px !important;
    padding-left: 0 !important;
    margin-bottom: 10px !important;
    opacity: 1;
    background: rgba(18,18,18,0.81) !important;
    border-radius: 8px !important;
    color: #fff !important;
    font-size: 0.7em;
      ion-label{
        padding-left: 10px;
      }
      .item-inner{
        border-bottom-color: #222 !important;
        box-shadow: none !important;
        &:last-child{
          box-shadow: none !important;
        }
      }
  }

  .forgot-password{
    float: right;
    color: #fff;
    font-size: 16px;
    padding-top: 10px;
  }

  .button-colored{
    background: #175B9F;
    border-radius: 5px;
    padding: 24px 0;
    font-size: 16px;
    height: 30px;
  }

  .social-media-login{
    margin-top: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    justify-content: center;
    span{
      margin-left: 20px;
      margin-right: 20px;
      color: #fff;
      font-size: 18px;
    }
    i{
      color: #fff;
      border: 1px solid #fff;
      font-size: 36px;
      border-radius: 50%;
      &.facebook{
        padding: 10px 20px;
      }
      &.google{
        padding: 5px 20px;
      }
    }

  }
  .signup{
    margin-top: 30px;
    text-align: center;
    span{
      margin-top: 30px;
      color: #fff;
      font-size: 16px;
      text-align: center;
    }
  }
}
