<ion-content scroll="false">
  <div class="layer"></div>
  <div class="welcome-logo"></div>
  <div class="welcome-container">
      <ion-list>
          <form [formGroup]="loginForm">
            <div class="form-wrapper" style="display:flex; height: 100%; flex-direction: column;">
              <ion-item>
                <ion-label><ion-icon name="person"></ion-icon></ion-label>
                <ion-input type="email" formControlName="email" name="email" value="" placeholder="E-mail"></ion-input>
              </ion-item>
      
              <ion-item>
                  <ion-label><ion-icon name="lock"></ion-icon></ion-label>
                <ion-input type="password" formControlName="password" name="password" value=""  placeholder="Password"></ion-input>
              </ion-item>
              </div>
          </form>
            <div>
              <button ion-button class="button-colored" block (click)="login()">SIGN IN</button>
              <span class="forgot-password" (click)="recoverUserPassword()">Forgot Password?</span>
            </div>
            <!-- <div class="social-media-login">
                <span>Or</span>
            </div> -->
            <!-- <div class="signup">
              <span class="signup" (click)="register()">SIGN UP </span>
            </div> -->
        </ion-list>
  </div>
</ion-content>
