<!--
  Generated template for the TripDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ 'TRIP_DETAILS_TITLE' | translate }}</ion-title>
  </ion-navbar>

  <ion-toolbar no-border class="scrollable-segments">
    <ion-scroll #scroll scrollX="true" style="width:100%; height:52px; white-space: nowrap;">
      <div  style="height: 5px;" [style.width]=widthScroll>
      </div>
      <ion-segment #mySegment [(ngModel)]="selectedSegment" id="segment-test" (ionChange)="onSegmentChanged($event)" scrollable>
          <ion-segment-button *ngFor="let slide of slides" value="{{slide.id}}">
            <div class="segment-day">
              {{slide.day}}
            </div>
          </ion-segment-button>
      </ion-segment>
  </ion-scroll>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #mySlider (ionSlideDidChange)="onSlideChanged($event)">
    <ion-slide *ngFor="let slide of slides">
      <span>
          <h1>{{ 'TRIP_DAY_LABEL' | translate }} {{ slide.id + 1 }}</h1>
          <button ion-item (click)="openSummary()" detail-none class="btn-simple">
              <ion-icon name="pie"></ion-icon> {{ 'TRIP_SUMMARY_LABEL' | translate }}
          </button>
      </span>
      <div class="events-list">
        <div class="item-list" *ngFor = "let event of slide.events" >
          <div class="start-time">
              {{event.startTime}}
          </div>
          <div class="accomodation-item event-card" *ngIf="TripPlanAccommodationEvent(event)" (click)="openAccomodation(event)">
            <i class="fa fa-bed"></i>
            <span>{{event.name}}</span>
          </div>
          <div class="event-item event-card {{isRestaurantEvent(event) ? 'restaurant-item' : 'teste' }}" *ngIf="isTripPlanEvent(event)" (click)="openAttraction(event)">
            <i *ngIf="event.eventType == 'MONUMENT'" class="fa fa-university"></i>
            <i *ngIf="event.eventType == 'MUSEUM'" class="fa fa-university"></i>
            <i *ngIf="event.eventType == 'RESTAURANT'" class="fa fa-cutlery"></i>
            <i *ngIf="event.eventType == 'PARK'" class="fa fa-tree"></i>
            <i *ngIf="event.eventType == 'OTHER'" class="fa fa-question"></i>
            <span>{{event.name}}</span>
          </div>
          <div class="direction-item event-card" *ngIf="isTripDirectionEvent(event)" (click)="openDirection(event)">
            <i *ngIf="event.meansOfTransportation == 'UBER'" class="fa fa-taxi"></i>
            <i *ngIf="event.meansOfTransportation == 'SUBWAY'" class="fa fa-subway"></i>
            <ion-icon *ngIf="event.meansOfTransportation == 'WALKING'" ios="ios-walk" md="md-walk"></ion-icon>
            <ion-icon *ngIf="event.meansOfTransportation == 'TRAIN'" ios="ios-train" md="md-train"></ion-icon>
            <ion-icon *ngIf="event.meansOfTransportation == 'BICYCLE'" ios="ios-bicycle" md="md-bicycle"></ion-icon>
            <ion-icon *ngIf="event.meansOfTransportation == 'CAR'" ios="ios-car" md="md-car"></ion-icon>
            <ion-icon *ngIf="event.meansOfTransportation == 'AIRPLANE'" ios="ios-plane" md="md-plane"></ion-icon>
            <div style="display: block;">
                <div *ngIf="event.distance">{{event.distance}} km </div> <div *ngIf="event.duration">{{event.duration}} </div>
            </div>
          </div>
          <div class="establishment-item event-card" *ngIf="isTripEstablishmentEvent(event)" (click)="openEstablishment(event)">
            <i class="fa fa-map-marker"></i>
            <span>{{event.establishmentType}} - {{event.name}}</span>
          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
