page-trip-details {
  .toolbar-short{
    height: 40px !important;
    min-height: 30px !important;
    padding: 0 !important;
  }
  ion-segment {
    justify-content: space-between;
    overflow: visible;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        display: none;
    }

    ion-segment-button.segment-button {
        flex: 1 0 100px;
    }
  }

  .toolbar .segment-md{
    padding: 10px 0;
  }

  .scrollable-segments{
    padding-bottom: 0 !important;
    padding-top: 10px !important;
  }

  .swiper-slide{
    padding: 0 16px;
  }

  .slide-zoom > span{
    display: inline-block;
    position: relative;
    width: 100%;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    h1{
      display: inline-block;
      margin: 0;
      text-transform: uppercase;
      color: #666666;
      font-size: 20px;
      font-weight: 600;
    }
    .btn-simple{
      position: absolute;
      right: 0;
      width: auto;
      margin-left: 10px;
      display: inline-block;
      margin-bottom: 10px;
      top: -10px;
    }
  }
  .btn-simple{
    font-size: 14px;
    color: #666666;
    text-transform: uppercase;
  }

  .segment-md .segment-button{
    color: #666666 !important;
    border: none !important;
    font-size: 14px;
    padding: 0 15px;
    height: auto !important;
    line-height: normal !important;
    min-width: 72px;
    max-width: 75px !important;
    div{
      padding-bottom: 5px;
    }
  }

  .segment .segment-button.segment-activated{
    background-color: transparent !important;
    color: #488aff !important;
    border: none !important;
    .segment-day{
      border-bottom: 1px solid #488aff;
    }
  }

  .swiper-slide {
    overflow-y: scroll;
    display: block;
  }
  .events-list{
    .item-list:first-child{
      margin-top: 20px;
    }
  }
  .item-list{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 0;
    margin: 2px 0;
    padding: 0;
    .start-time{
      float: left;
      white-space: nowrap;
      width: 70px;
      text-align: center;
    }
    .event-card{
      width: 100%;
      margin: 5px 0;
      margin-left: 10px;
      width: 100%;
      display: flex;
      text-align: left;
      font-size: 16px;
      align-items: center;
      height: 70px;
      i{
        margin-right: 10px;
        font-size: 1.2em;
      }
      span{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 20px;     /* fallback */
        max-height: 36px;      /* fallback */
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
      }
      ion-icon{
        margin-right: 10px;
        font-size: 1.8em;
      }
    }
    .accomodation-item{
      background-color: #88bbd6;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      color: #222;
      padding: 20px;
      border-radius: 10px;
    }
    .event-item{
      background-color: #fff;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      color: #222;
      padding: 20px;
      border-radius: 10px;
    }
    .restaurant-item{
      background-color: #4abdac;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .direction-item{
      background-color: #eac67a;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      color: #222;
      padding: 20px;
      border-radius: 10px;
    }
    .establishment-item{
      background-color: #a707ff;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      color: #222;
      padding: 20px;
      border-radius: 10px;
    }
  }
  .date-nav{
    text-align: center;
    position: relative;
    span{
      ion-icon{
        position: absolute;
        padding-top: 2px;
        color: #1976D2;
        font-size: 18px;
        &.right{
          right: 50px;
        }
        &.left{
          left: 50px;
        }
      }
    }
  }
}
