<!--
  Generated template for the AccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar color="primary">
      <ion-title>{{ 'ACCOUNT_PAGE_TITLE' | translate }}</ion-title>
    </ion-navbar>
  
  </ion-header>


<ion-content>

  <div class="account-card">
    <div class="account-card-header">
      <img *ngIf="image" src="{{image}}">
      <img *ngIf="!image" src="../assets/img/default-user-bk.png">
    </div>
    <div class="account-card-body">
      <p>{{firstname}} {{lastname}}</p>
      <p>{{email}}</p>
    </div>
  </div>

  <!-- List of Text Items -->
<ion-list class="settings-list">
  <ion-item>
    <ion-label (click)="changeLanguage()">{{ 'LANGUAGE_LABEL' | translate }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label (click)="doLogout()">Logout</ion-label>
  </ion-item>
</ion-list>

</ion-content>
 