page-account {
 .account-card{
   text-align: center;
   margin-top: 32px;
   .account-card-header{
      img{
        border-radius: 100%;
        max-width: 80px;
      }
    }
    .account-card-footer{
      margin-top: 32px;
      .logout{
          border: 1px solid #B00020;
          border-radius: 20px;
          padding: 5px 10px;
          color: #B00020;
          font-size: 16px;
      }
    }
   }
   .settings-list{
     margin-top: 50px;
   }
   .list > .item:first-child{
     .item-inner{
      border-top: 1px solid #dedede;
     }
   }
   .list > .item:last-child{
    .item-inner{
     border-bottom: 1px solid #dedede;
    }
  }
}
