page-establishmentcard {
  #map {
    width: 100%;
    height: 50%;
  }

  .img-header {
    width: 100%;
    position: relative;
    img{
      width: 100%;
    }
    .img-desc{
      position: absolute;
      bottom: 5px;
      background: rgba(0,0,0,0.6);
      width: 100%;
      font-size: 16px;
      padding: 20px;
      color: #fff;
      font-weight: 600;
    }
  }

  .trip-event{
    padding: 0 20px;
    text-align: justify;
    font-size: 1.5rem;
  }
  .trip-tips{
    margin: 10px;
    span{
      font-size: 1.5rem;
      font-weight: 600;
      display: inline-block;
      margin-bottom: 2px;
    }
  }
  .trip-item{
    padding: 12px 20px;
    border-bottom: 1px solid #f2f2f2;
    font-size: 16px;
    &.small{
      padding: 5px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left{
        float: left;
      }
      .right{
        float: right;
      }
    }
    i {
      margin-right: 5px;
    }
    span{
      font-weight: 600;
      display: inline-block;
      margin-bottom: 2px;
    }
  }
  .event-sub-header{
    display: inline-block;
    margin: 15px 0;
    text-align: center;
    width: 100%;
    .event-name{
      display: block;
      font-size: 1.8rem;
      font-weight: 600;
    }
  }
}

