page-forgetpassword {
  ion-row {
    align-items: center;
    text-align: center;
  }

  .toolbar{
    padding: 20px 4px;
    padding-top: 40px;
    &.light-toolbar{
      background-color: transparent !important;
      color: #fff;
      .toolbar-background{
        background: transparent !important;
      }
    }
    
  .back-button.show-back-button{
    position: absolute;
    color: #fff;
    z-index: 9999;
    left: 10px;
    bottom: 16px;
    background-color: transparent !important;
    ion-icon{
      background: #175B9F;
      opacity: 0.5;
      border-radius: 50%;
      padding: 4px 12px;
      font-size: 2.4rem;
    }
   }
  }

  .list{
    margin: 0 auto;
    max-width: 350px;
  }
  .text-input{
    color: #fff;
  }

  ion-content{
    background: linear-gradient(to top right, #3A4A64, #3A4A64, #3A4A64, #3A4A64, #3A4A64, #1F2D44 ) !important;
    background-color: transparent !important;
  }

  ion-content{
    background: linear-gradient(to top right, #3A4A64, #3A4A64, #3A4A64, #3A4A64, #3A4A64, #1F2D44 ) !important;
    background-color: transparent !important;
  }
  ion-label{
    color: #fff;
  }
  ion-item {
      border-radius: 0px !important;
      padding-left: 0 !important;
      margin-bottom: 10px !important;
      opacity: 1;
      background: transparent !important;
      color: #A2A2A2 !important;
      font-size: 0.7em;
        ion-label{
          padding-left: 10px;
        }
        .item-inner{
          border-bottom-color: #222 !important;
          box-shadow: none !important;
          &:last-child{
            box-shadow: none !important;
          }
        }
  }

  .button-gradient{
    background: linear-gradient(to right, #2e6ba8, #175B9F);
    border-radius: 5px;
    padding: 24px 0;
  }

  .register-call{
    color: #fff;
  }

  .img-logo {
    margin: auto;
    background: url('../assets/icon/icas_logo.png') no-repeat transparent;
    background-size: 100%;
    width: 120px;
    height: 120px;
    margin: 20px auto;
    position: relative;
  }

  .light{
    color: map-get($map: $colors, $key: light);
  }

}
