<ion-header no-shadow no-border>
    <ion-toolbar class="light-toolbar">
        <button  detail-none (click)="dismiss()" class="back-button show-back-button">  <ion-icon name="ios-arrow-back"></ion-icon></button>
        <ion-title>
          Recover password
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>
  <div align="center" class="img-logo">
  </div>
  <ion-list>
    <form [formGroup]="passwordForm">
      <div class="form-wrapper">
        <ion-item>
          <ion-label>
            <p class="light">Enter your e-mail below. We will forward your password directly to it.</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label><ion-icon name="person"></ion-icon></ion-label>
          <ion-input type="email" formControlName="email" name="email"  placeholder="Enter your e-mail"></ion-input>
        </ion-item>
      </div>
    </form>
    <div padding>
      <button ion-button color="primary" block class="button-gradient" (click)="send()">Send</button>
    </div>
    <div padding>
      <hr class="colored"/>
    </div>
  </ion-list>
</ion-content>
